.grid__container {
  max-width: 1170px;
  margin: 0 15%;
}

.grid {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  column-gap: 35px;
  grid-template-columns: repeat(auto-fit, 30px);
  justify-content: space-around;
}

.grid__title {
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  margin: 5% auto 2% auto;
}

.active {
  position: relative;
}

.active > a {
  color: white;
}

.active::before,
.active::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: rgba(0, 200, 245, 0.8);
  position: absolute;
  z-index: 3;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%) scale(var(--scale));
  transition: 0.15s transform;
  transform-origin: top center;
}

.active::before {
  content: attr(data-tooltip);
  width: auto;
  text-align: center;
  line-height: 17px;
  color: white;
  font-size: 17px;
  padding: 0.5rem;
  background: var(--tooltip-color);
  border-radius: 10px;
}

.active::after {
  content: "";
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color);
  top: calc(2.9 * var(--arrow-size));
  transform-origin: bottom center;
}

.active:hover::before,
.active:hover::after {
  --scale: 1;
}

.inactive > a {
  color: rgba(112, 112, 112, 0.5);
  pointer-events: none;
}

.arrow {
  position: absolute;
  top: 65px;
  left: 65px;
  font-size: 25px;
}
