.grid__container {
  max-width: 1170px;
  margin: 0 15%;
}

.grid {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  column-gap: 35px;
  grid-template-columns: repeat(auto-fit, 30px);
  justify-content: space-around;
  z-index: 3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid__title {
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  margin: 3% auto 2% auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.open-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 25px;
  color: white;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1025px) {
  .tooltip {
    position: relative;
  }

  .tooltip > a {
    color: white;
  }

  .tooltip::before,
  .tooltip::after {
    --scale: 0;
    --arrow-size: 10px;
    --tooltip-color: rgba(0, 200, 245, 0.8);
    position: absolute;
    z-index: 3;
    top: 3.5rem;
    left: 50%;
    transform: translateX(-50%) scale(var(--scale));
    transition: 0.2s transform;
    transform-origin: top center;
  }

  .tooltip::before {
    content: attr(data-tooltip);
    width: auto;
    text-align: center;
    line-height: 17px;
    color: white;
    font-size: 17px;
    padding: 0.5rem;
    background: var(--tooltip-color);
    border-radius: 10px;
  }

  .tooltip::after {
    content: "";
    border: var(--arrow-size) solid transparent;
    border-bottom-color: var(--tooltip-color);
    top: calc(2.9 * var(--arrow-size));
    transform-origin: bottom center;
  }

  .tooltip:hover::before,
  .tooltip:hover::after {
    --scale: 1;
  }
}

.noTooltip > button {
  color: rgba(112, 112, 112, 0.5);
  pointer-events: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 40px 0;
}

.back {
  cursor: pointer;
  font-size: 19px;
  padding: 10px 12px;
  border-radius: 12px;
  font-weight: bold;
  background-color: rgba(71, 221, 255, 0.9);
  color: white;
  transition: all 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.back span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.back span:before {
  content: "\f0da";
  font-size: 22px;
  position: absolute;
  opacity: 0;
  top: -1px;
  right: -20px;
  transition: 0.5s;
}

.back:hover span {
  padding-right: 25px;
}

.back:hover {
  background-color: rgba(0, 200, 245, 1);
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
}

.back:hover span::before {
  opacity: 1;
  right: 0;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  z-index: 10;
  background-color: white;
  color: black;
  font-size: 20px;
  line-height: 25px;
  width: 700px;
  max-width: 80%;
  max-height: 90%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.popup__header {
  padding: 0 20px;
  height: 80px;
  line-height: 30px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.popup__header .close-button {
  outline: none;
  background: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  pointer-events: none;
  transition: 0.5s opacity, backdrop-filter;
}

#overlay.active {
  opacity: 1;
  backdrop-filter: blur(5px);
  pointer-events: all;
}

.inactive {
  display: none;
}

.info__title {
  text-align: left;
  font-size: 1.2em;
  padding: 20px 3% 10px 20px;
  font-weight: bold;
}

.info__body {
  font-size: 19px;
  line-height: 25px;
  margin: 0 8% 20px 50px;
}

li {
  margin-bottom: 8px;
}

li:last-child {
  margin-bottom: 0px;
}

.rules li span {
  font-weight: bold;
}

.popup__back {
  display: grid;
  margin: 0 15% 10px 15%;
  grid-template-columns: 1fr 1fr;
  column-gap: 30%;
}

.start-button,
.finish-button {
  cursor: pointer;
  background-color: #00b4db;
  color: white;
  font-size: 19px;
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.start-button span,
.finish-button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.start-button span:after,
.finish-button span:after {
  font-size: 22px;
  position: absolute;
  opacity: 0;
  top: -1px;
  right: -20px;
  transition: 0.5s;
}

.start-button span::after {
  content: "\f0da";
}

.finish-button span::after {
  content: "\f00d";
}

.start-button:hover span,
.finish-button:hover span {
  padding-right: 25px;
}

.start-button:hover span:after,
.finish-button:hover span:after {
  opacity: 1;
  right: 0;
}

.quiz__body {
  font-size: 19px;
  line-height: 25px;
  margin: 20px 5%;
}

@media (max-width: 500px) {
  .quiz__body,
  .quiz__footer {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .quiz__body,
  .quiz__footer {
    font-size: 16px;
  }
}

@media (max-width: 300px) {
  .quiz__body,
  .quiz__footer {
    font-size: 14px;
  }
}

#task__read {
  margin: 10px 10px 20px 5px;
  font-size: 17px;
}

#task__description {
  margin: 0 10px 20px 10px;
}

#task__text {
  font-style: italic;
  font-size: 16px;
  margin: 0 10px 20px 25px;
  padding: 0 0 0 10px;
  border-left: 5px solid #00b4db;
  border-radius: 2px;
}

.Formula_img {
  -webkit-user-drag: none;
  transform: scale(0.9);
  position: relative;
  top: 1px;
  max-width: 450px;
}

@media (max-width: 500px) {
  .Formula_img {
    transform: scale(0.85);
    top: 3px;
  }
}

@media (max-width: 400px) {
  .Formula_img {
    transform: scale(0.8);
  }
}

#task__image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 10px auto; */
}

#task__image > img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  max-height: 400px;
  max-width: 400px;
  width: 80%;
}

#task__question {
  margin: 10px 10px 20px 5px;
  font-size: 17px;
}

#task__options {
  font-size: 16px;
  margin: 0 0 10px 40px;
}

.TaskBlock_type_list_plain > li {
  list-style: disc;
}

.TaskBlock_type_lists {
  font-size: 16px;
}

.TaskBlock-BlockItem + .TaskBlock-BlockItem {
  margin: 15px 0 0 0;
}

.TaskBlock_type_list_letter li {
  list-style: none;
}

.TaskBlock_type_lists div:nth-child(1) ol {
  margin: 0 0 0 -15px;
}

.TaskBlock_type_list_letter li:nth-child(1):before {
  content: "\430.";
  padding: 0 5px 0 0;
  text-transform: uppercase;
}

.TaskBlock_type_list_letter li:nth-child(2):before {
  content: "\431.";
  padding: 0 5px 0 0;
  text-transform: uppercase;
}

.TaskBlock_type_list_letter li:nth-child(3):before {
  content: "\432.";
  padding: 0 5px 0 0;
  text-transform: uppercase;
}

.TaskBlock_type_list_letter li:nth-child(4):before {
  content: "\433.";
  padding: 0 5px 0 0;
  text-transform: uppercase;
}

.TaskBlock_type_list_letter li:nth-child(5):before {
  content: "\434.";
  padding: 0 5px 0 0;
  text-transform: uppercase;
}

#task__write {
  margin: 15px 10px 20px 5px;
  font-size: 17px;
}

.answer {
  display: grid;
}

@media (min-width: 670px) {
  .answer {
    grid-template-columns: 3fr 1fr;
    column-gap: 30px;
  }
}

@media (max-width: 670px) {
  .answer {
    grid-template-rows: 1fr 1fr;
    row-gap: 6px;
  }
}

#input {
  background: rgba(200, 200, 200, 0.5);
  border: 3px solid transparent;
  border-radius: 10px;
  font-size: 18px;
  padding: 3px 7px;
  width: 100%;
  transition: background 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#input:hover {
  background: rgba(190, 190, 190, 0.6);
}

#input:focus {
  border: 3px solid #00b4db;
}

#input.right {
  border-color: #5ef00a;
}

#input.wrong {
  border-color: #f00a00;
}

#check-button {
  padding: 3px 5px;
  font-size: 18px;
  border: 2px solid rgba(200, 200, 200, 0.5);
  border-radius: 5px;
  background: transparent;
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#check-button:hover {
  background: rgba(112, 112, 112, 0.1);
}

#check-button:active {
  background-color: rgba(112, 112, 112, 0.3);
}

@media (max-width: 500px) {
  #input,
  #check-button {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  #input,
  #check-button {
    font-size: 16px;
  }
}

@media (max-width: 300px) {
  #input,
  #check-button {
    font-size: 14px;
  }
}

#task__counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
