.grid__container {
  max-width: 1170px;
  margin: 0 15%;
}

.grid {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
  column-gap: 35px;
  grid-template-columns: repeat(auto-fit, 30px);
  justify-content: space-around;
  z-index: 3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid__title {
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  margin: 5% auto 2% auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.open-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 25px;
  color: white;
  width: 100%;
  height: 100%;
}

.tooltip {
  position: relative;
}

.tooltip > a {
  color: white;
}

.tooltip::before,
.tooltip::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: rgba(0, 200, 245, 0.8);
  position: absolute;
  z-index: 3;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%) scale(var(--scale));
  transition: 0.2s transform;
  transform-origin: top center;
}

.tooltip::before {
  content: attr(data-tooltip);
  width: auto;
  text-align: center;
  line-height: 17px;
  color: white;
  font-size: 17px;
  padding: 0.5rem;
  background: var(--tooltip-color);
  border-radius: 10px;
}

.tooltip::after {
  content: "";
  border: var(--arrow-size) solid transparent;
  border-bottom-color: var(--tooltip-color);
  top: calc(2.9 * var(--arrow-size));
  transform-origin: bottom center;
}

.tooltip:hover::before,
.tooltip:hover::after {
  --scale: 1;
}

.noTooltip > button {
  color: rgba(112, 112, 112, 0.5);
  pointer-events: none;
}

.arrow {
  position: absolute;
  top: 65px;
  left: 65px;
  font-size: 25px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease-in-out;
  border-radius: 25px;
  z-index: 10;
  background-color: white;
  color: black;
  font-size: 20px;
  line-height: 25px;
  width: 700px;
  max-width: 80%;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
}

.popup__header {
  padding: 15px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__header .title {
  font-size: 30px;
  font-weight: bold;
}

.popup__header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 30px;
  font-weight: bold;
  padding-right: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  pointer-events: none;
  transition: 0.5s opacity, backdrop-filter;
}

#overlay.active {
  opacity: 1;
  backdrop-filter: blur(5px);
  pointer-events: all;
}

.info__box,
.quiz__box {
  margin: 15px;
}

.info__title,
.quiz__title {
  text-align: left;
  font-size: 23px;
  margin: 0 0 10px 2%;
  font-weight: bold;
}

.info__body,
.quiz__body {
  font-size: 19px;
  line-height: 25px;
  margin: 0 0 20px 8%;
}

li {
  margin-bottom: 5px;
}

li:last-child {
  margin-bottom: 0px;
}

.rules li span {
  font-weight: bold;
}

.popup__footer {
  display: grid;
  margin: 0 15% 10px 15%;
  grid-template-columns: 1fr 1fr;
  column-gap: 30%;
}

.start-button,
.finish-button {
  cursor: pointer;
  background-color: #00b4db;
  color: white;
  font-size: 19px;
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.start-button span,
.finish-button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.start-button span:after,
.finish-button span:after {
  font-size: 22px;
  position: absolute;
  opacity: 0;
  top: -1px;
  right: -20px;
  transition: 0.5s;
}

.start-button span::after {
  content: "\f0da";
}

.finish-button span::after {
  content: "\f00d";
}

.start-button:hover span,
.finish-button:hover span {
  padding-right: 25px;
}

.start-button:hover span:after,
.finish-button:hover span:after {
  opacity: 1;
  right: 0;
}
