{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "editor.formatOnSave": false,
  "prettier.printWidth": 80,
  "html.format.wrapLineLength": 80,
  "prettier.disableLanguages": ["html"]
}